* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; height: 100vh;
 }

 .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 10vw; height: 10vh;
    transform: scale(1);
    transition: 0.4s;
    cursor: pointer;
 }

 .burger span {
    position: absolute;
    width: 80%; height: 2vh;
    border-radius: 25px;
    background-color: blue;
    transition: 0.4s;
 }
 

 .burger span:nth-child(1){top: 0;}
 .burger span:nth-child(3){bottom: 0;}
 .burger.active span:nth-child(2) {transform: scale(0);}
 .burger.active span:nth-child(1) {top: 50%; transform: translateY(-50%)  rotate(-45deg);}
 .burger.active span:nth-child(3){bottom: 50%; transform: translateY(50%) rotate(45deg);}