* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.slider-container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  overflow: hidden;
  position: relative;
  height: 50%;
  width: 50%;
  background-color: red;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.slider-items {
  transition: 0.4s;
  border-radius: 5px;
  width: 50vw;
  height: 20vh;
  background-color: aqua;
  margin: 0px 5px;
  cursor: pointer;
}
.slider-items:nth-child(2n+2){
  background-color: black;
}
.slider-items:nth-child(3n+3){
  background-color: white;
}

.slider-items:hover {
  left: 40%;
}