* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vj;
}

.main-container {
  
}
.wrapper {
}
.slider {
}
.slider-container {
}
.item {
}
.slirer-btn-left {
}
.slirer-btn-right {
}