@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: url(/css/form/high-angle-animals-day-arrangement.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo {
  font-size: 30px;
  color: aliceblue;
}
.header--navigation a {
  position: relative;
  margin-left: 45px;
  text-decoration: none;
  color: aliceblue;
  transition: 0.3s ease;
}
.header--navigation a:hover{
  color: #b6ddff;
}

.header--navigation a::after {
content: '';
position: absolute;
height: 4px;
width: 100%;
background-color: #00e3a6;
border-radius: 8px;
left: 0;
bottom: -6px;
transition: transform .6s;  /*без transform не сработает*/
transform-origin: right;
transform: scaleX(0); /*ИСК БЛИН!*/
}
.header--navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1); 
}

.btn--login {
  margin-left: 45px;
  background: transparent;
  padding: 7px 30px;
  border-radius: 10px;
  border: solid 2px aliceblue;
  color: aliceblue;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  
  text-transform: uppercase;
}
.btn--login:hover{
  transition: 0.4s ease-in-out;
  background-color: aliceblue;
  color: #002c21;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  min-width: 25vw;
  border-radius: 25px;
  border: solid 2px #b6ddff;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.267);
}

input {
  text-align: center;
  margin: 25px 10px 25px 10px;
  border: solid 1px white;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}
input:focus {
  outline: none;
  border: solid 2px #ffffff;
}

.auth-btn {
  background: transparent;
  padding: 7px 30px;
  width: 100%;
  border-radius: 10px;
  border: solid 2px aliceblue;
  color: aliceblue;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
  text-transform: uppercase;
}

.auth-btn:hover{
  transition: 0.4s ease-in-out;
  background-color: aliceblue;
  color: #002c21;
}